/TalesEstateServer/nbproject/private/
/TalesEstateServer/build/
/TalesEstateApplet/nbproject/private/
/TalesEstateApplet/build/
/TalesEstateApplet/dist/
/TalesEstateAppletV2/nbproject/private/
/TalesEstateAppletV2/build/
/TalesEstateAppletV2/dist/