/* 
    Document   : MasterStyle
    Created on : Jun 29, 2013, 4:31:20 PM
    Author     : NightFiyah
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.button {
    -fx-background-color: #333333;
}